<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    {{ function('wp_head') }}

    {% set homepage = Timber.get_post(site.options.page_on_front) %}
    <style>
        .site-header {
            background: url('{{ homepage.thumbnail.src|default(site.theme.link ~ "/fallback-image.jpg") }}') no-repeat center center;
            background-size: cover;
            height: 300px;
            color: white;
        }
    </style>
    <p>Background Image URL: {{ homepage.thumbnail.src|default(site.theme.link ~ "/fallback-image.jpg") }}</p>

</head>
<body>
    <header class="site-header">
        <div class="container">
            <h3>Lass uns gemeinsam die Zukunft bestimmen</h3>
            <h1 class="title-header">Faktenfilter</h1>
        </div>
    </header>
</body>
</html>


